<header class="site-header">

  <div class="header-inner affix">

    <div class="container">

      <div class="row">

        <div class="header-table col-md-12">

          <div class="header-col brand">
            <a href="index.html">
              <img src="images/logonew.png" alt="Logo de Kaizen Conseil">
            </a>
          </div>

          <nav class="header-col main-nav">
            <a href="#" class="nav-toggle"></a>
            <ul class="nav">
              <% if current_page.path == "legal.html" %>
              <% prefix = "index.html" %>
              <% else %>
              <% prefix = "" %>
              <% end %>

              <li><%= link_to "Accueil", "#{prefix}#home" %></li>
              <li><%= link_to "Kaizen Conseil", "#{prefix}#about" %></li>
              <li><%= link_to "Les filiales", "#{prefix}#pricing" %></li>
              <li><%= link_to "Recrutement", "#{prefix}#services" %></li>
              <li><%= link_to "Contact", "#{prefix}#contact" %></li>

            </ul>
          </nav>

        </div>

      </div>

    </div>

  </div>

</header>
