<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="Kaizen Conseil groupe de sociétés dans le domaine du conseil à destination des entrepreneurs : expert-comptable, commissaire aux comptes, levée de fonds, gestion de patrimoine.">
<meta name="author" content="Kaizen Conseil">

    <!-- Use the title from a page's frontmatter if it has one -->
    <!-- Facebook OpenGraph -->
<meta property="og:title" content="Kaizen Conseil" />
<meta property="og:type" content="website" />
<meta property="og:url" content="www.kaizenconseil.fr" />
<meta property="og:image" content="demo/kaizen/backgroung-kaizen2.jpg" />
<meta property="og:description" content="Groupe de sociétés dans le domaine du conseil à destination des entrepreneurs : expert-comptable, commissaire aux comptes, levée de fonds, gestion de patrimoine." />
<meta property="og:site_name" content="Kaizen Conseil" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MrCohenJonathan">
<meta name="twitter:title" content="Kaizen Conseil">
<meta name="twitter:description" content="Groupe de sociétés dans le domaine du conseil à destination des entrepreneurs : expert-comptable, commissaire aux comptes, levée de fonds, gestion de patrimoine.">
<meta name="twitter:creator" content="@MrCohenJonathan">
<meta name="twitter:image:src" content="demo/kaizen/backgroung-kaizen2.jpg">
<link rel="stylesheet" href="assets/plugins/royalslider/royalslider.min.css">
<link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="assets/plugins/mfp/jquery.mfp.css">

<link rel="shortcut icon" href="demo/kaizen/favicon.png">


<title>Groupe Kaizen Conseil - Services pour entrepreneur - startup</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>
  </body>
</html>
